{% extends "base.html" %}
{% block content %}
    {% if section %}
        <h2>「{{section.name}}」の原因タグ一覧</h2>
    {% else %}
        <h2>原因タグ一覧</h2>
    {% endif %}
    <br>
    {% for cause_tag in cause_tags %}
        <div>
            <span class="tag tag_type{{cause_tag.cause_tag__cause_type__id}}">
                {{cause_tag.cause_tag__content}}
            </span>
            &nbsp;
            {% if section %}
                <a href="{% url 'blue_chart_app:problem_list_with_cause_tag' cause_tag.cause_tag__id  section.id %}">{{cause_tag.total}}問</a>
            {% else %}
                <a href="{% url 'blue_chart_app:problem_list_with_cause_tag' cause_tag.cause_tag__id  0 %}">{{cause_tag.total}}問</a>
            {% endif %}
        </div>
        <br>
    {% endfor %}
{% endblock %}