{% extends "base.html" %}
{% block content %}
    <p>
        <a href = "{% url 'blue_chart_app:chapter_list' %}">
            章一覧
        </a> > 
        <a href="{% url 'blue_chart_app:section_list' connect.answer.problem.problem_group.section.chapter.id %}">
            {{connect.answer.problem.problem_group.section.chapter.subject.name}} 第{{connect.answer.problem.problem_group.section.chapter.number}}章 
            {{ connect.answer.problem.problem_group.section.chapter.name }}
        </a> > 
        <a href="{% url 'blue_chart_app:problem_group_list' connect.answer.problem.problem_group.section.id %}">
            §{{connect.answer.problem.problem_group.section.number}} {{connect.answer.problem.problem_group.section.name}}
        </a> > 
        <a href="{% url 'blue_chart_app:problem_list' connect.answer.problem.problem_group.id %}">
            {{connect.answer.problem.problem_group.name}}{{connect.answer.problem_group.name}}
            （{{connect.answer.problem.problem_group.problems.all|length}}題）
        </a> > 
        <a href="{% url 'blue_chart_app:problem_show' connect.answer.problem.id %}">
            {{connect.answer.problem.name}}
        </a> > 
        <a href="{% url 'blue_chart_app:answer_list_with_problem' connect.answer.problem.id %}">
            勉強記録一覧
        </a> > 
        <a href="{% url 'blue_chart_app:answer_show' connect.answer.id %}">
            {{connect.answer.solve_plan_date|date:"Y年m月d日"}}
        </a> >
        原因タグのコメント新規作成
    </p>
    <h2>原因タグのコメント新規作成</h2>
    <table class="table table-bordered">
        <tbody>
            <tr>
                <td>範囲</td>
                <td>{{connect.answer.problem.problem_group.section.chapter.subject.name}} §{{connect.answer.problem.problem_group.section.number}} {{connect.answer.problem.problem_group.section.name}}</td>
            </tr>
            <tr>
                <td>問題名</td>
                <td>{{connect.answer.problem.name}}</td>
            </tr>
            <tr>
                <td>詳細</td>
                <td>{{connect.answer.problem.problem_group.title}}</td>
            </tr>
            <tr>
                <td>解答予定日</td>
                <td>{{connect.answer.solve_plan_date|date:"Y/m/d H:i"}}</td>
            </tr>
            <tr>
                <td>解答日</td>
                <td>
                    {% if connect.answer.solve_date != None %}
                    {{connect.answer.solve_date|date:"Y/m/d H:i"}}
                    {% else %}
                        ー
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>解答状況</td>
                <td>
                    {{connect.answer.correct_situation.situation}}
                </td>
            </tr>
            <tr>
                <td>解答時間</td>
                <td>
                    {% if connect.answer.actual_time != 0 and connect.answer.actual_time != None %}
                        {{connect.answer.actual_time}}分
                    {% else %}
                        ー
                    {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
    <h3>原因タグ</h3>
    <div class="tag tag_type{{connect.cause_tag.cause_type.id}} {% if connect.is_overcome == 1 %} overcome{{connect.cause_tag.cause_type.id}} {% endif %}">
        <a class="cause_tag_link" href="{% url 'blue_chart_app:answer_list_with_cause_tag' connect.answer.problem.id connect.cause_tag.id connect.cause_tag.id connect.answer.problem.problem_group.section.id %}">
            {{connect.cause_tag.content}}
        </a>
    </div><br><br>
    <form method="post" action="{% url 'blue_chart_app:comment_for_connect_register' connect.id %}">
        <div class="form-group">
            <label>{{form.content.label}}</label>
            <textarea name="{{form.content.name}}" class="form-control {% if form.content.errors %}is-invalid{% endif %}">{% if form.content.value != None %}{{form.content.value}}{% endif %}</textarea>
            {% if form.content.errors %}
                    <div class="invalid-feedback">{{form.content.errors.0}}</div>
            {% endif %}
        </div>
        <button class="btn btn-primary" type="submit">投稿</button>
       　
       　{% csrf_token %}
    </form>
{% endblock %}