{% extends "base.html" %}
{% block content %}
    <p>
        <a href = "{% url 'blue_chart_app:chapter_list' %}">
            章一覧
        </a> > 
        <a href="{% url 'blue_chart_app:section_list' evaluate.problem.problem_group.section.chapter.id %}">
            {{evaluate.problem.problem_group.section.chapter.subject.name}}
            第{{evaluate.problem.problem_group.section.chapter.number}}章 
            {{ evaluate.problem.problem_group.section.chapter.name }}
        </a> > 
        <a href="{% url 'blue_chart_app:problem_group_list' evaluate.problem.problem_group.section.id %}">
            §{{evaluate.problem.problem_group.section.number}} {{evaluate.problem.problem_group.section.name}}
        </a> > 
        <a href="{% url 'blue_chart_app:problem_list' evaluate.problem.problem_group.id %}">
            {{evaluate.problem.problem_group.name}}{{evaluate.problem_group.name}}
            （{{evaluate.problem.problem_group.problems.all|length}}題）
        </a> > 
        <a href="{% url 'blue_chart_app:problem_show' evaluate.problem.id %}">
            {{evaluate.problem.name}}
        </a> > 
        評価タグ「{{evaluate.evaluation_tag.content}}」のコメント作成</p>
        <h2>{{evaluate.problem.name}}の評価タグ「{{evaluate.evaluation_tag.content}}」のコメント作成ページ</h2><br>
        <table class="table table-bordered">
            <tbody>
                <tr>
                    <td>範囲</td>
                    <td>{{evaluate.problem.problem_group.section.chapter.subject.name}} §{{evaluate.problem.problem_group.section.number}} {{evaluate.problem.problem_group.section.name}}</td>
                </tr>
                <tr>
                    <td>問題名</td>
                    <td>{{evaluate.problem.name}}</td>
                </tr>
                <tr>
                    <td>詳細</td>
                    <td>
                        {% if evaluate.problem.problem_group.number > 0 %}
                            {{evaluate.problem.problem_group.title}}
                        {% else %}
                            ー
                        {% endif %}
                    </td>
                </tr>
            </tbody>
        </table>
    <p>
    <span class="tag tag_type{{evaluate.evaluation_tag.evaluation_type.id}}">
                    {{evaluate.evaluation_tag.content}}
    </span>&nbsp;
    </p>
    <form method="post" action="{% url 'blue_chart_app:comment_for_evaluate_register' evaluate.id %}">
            <div class="form-group">
                <label>{{form.content.label}}</label>
                <textarea name="content" class="form-control {% if form.content.errors %}is-invalid{% endif %}">{% if form.content.value != None %}{{form.content.value}}{% endif %}</textarea>
                {% if form.content.errors %}
                    <div class="invalid-feedback">{{form.content.errors.0}}</div>
                {% endif %}
            </div>
        
        <button class="btn btn-primary" type="submit">登録</button>
   　
       　{% csrf_token %}
    </form>
    
{% endblock %}
